{% extends 'super/base.html' %}

{% load bootstrap3 %}
{% load humanize %}

{% block content %}

{% bootstrap_messages %}

{% if bets %}
	{% for match in bets %}
	<table class="table">
		<tr>
			<th>Match</th>
			<th>Better</th>
			<th>Team</th>
			<th style="text-align:right">Amount</th>
		</tr>
		{% for bet in match %}
		<tr>
			<td> {{ bet.match }} </td>
			<td> {{ bet.user.first_name|title }} </td>
			<td> {{ bet.team.team_abbr }} </td>
			<td style="text-align:right"> {{bet.amount|intcomma}} </td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
{% else %}
No matches today!
{% endif %}
<div style="height:3%;"> </div>
{% if data %}
	<table class="table">
	{% for row in data %}
			<tr>
				<th colspan="4">{{ row.match }}</th>
			</tr>
			<tr>
				<th>Home Team</th><td style="text-align:right;">{{ row.home.amount__sum|intcomma }}</td>
				<th>Away Team</th><td style="text-align:right;">{{ row.away.amount__sum|intcomma }}</td>
			</tr>
			<tr><td colspan="4"> </td></tr>
	{% endfor %}
	</table>
{% else %}
	No Data!
{% endif %}

{% endblock %}