{% extends 'super/base.html' %}

{% load bootstrap3 %}
{% load humanize %}

{% block content %}

{% bootstrap_messages %}

{% if bets %}
	{% for match in bets %}
	<table class="table">
		<tr>
			<th>Match</th>
			<th>Better</th>
			<th>Team</th>
			<th style="text-align:right">Amount</th>
		</tr>
		{% for bet in match %}
		<tr>
			<td> {{ bet.match }} </td>
			<td> {{ bet.user.first_name|title }} {{ bet.user.last_name|title }} </td>
			<td> {{ bet.team }} </td>
			<td style="text-align:right"> {{bet.amount|intcomma}} </td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
{% else %}
No matches today!
{% endif %}
{% endblock %}