{% extends 'bet/base.html' %}

{% load bootstrap3 %}
{% load humanize %}

{% block content %}

{% bootstrap_messages %}

<table class="table">
    <tr>
        <th>User</th>
        <th style="text-align:right">Balance</th>
    </tr>
	{% if users %}
	    {% for user in users %}
	        <tr>
	            <td>{{ user.first_name|title }} {{ user.last_name|title }}</td>
	            <td style="text-align:right">{{ user.account_balance|intcomma }} </td>
	        </tr>
	    {% endfor %}
	{% else %}
	   <tr>
	       <td colspan="2">No Data Found</td>
	   </tr>
	{% endif %}
</table>
{% endblock %}
